<div class="thought-container">
  <h2>Criando um pensamento...</h2>
  <br />
  <form action="/thoughts/add" method="POST">

    <label for="title"></label>
    <textarea
      name="title"
      id=""
      cols="30"
      rows="5"
      placeholder="Digite seu pensamento..."
    ></textarea>
    <input type="submit" value="Criar Pensamento" />
  </form>
  <div class="back">
    <a href="/thoughts/dashboard">Voltar</a>
  </div>

</div>